@{
	ViewBag.Title = "School Resources";
}

<h1>School Resources</h1>

<div class="row">
	<div class="col-md-4">
		<div class="contactBox">
			<h2>Contact CornerStone</h2>
			<div class="phone">Phone | <a href="tel:877.336.7397">877.336.7397</a></div>
			<div class="email">E-Mail | <a href="mailto:campuscontact@mycornerstoneloan.org" title="customerservice@mycornerstoneloan.org">Click here</a></div>
			<div class="hours"><span style="float: left;">Hours |</span> <strong style="float: left; margin-left: 5px;">Mon - Thu 6 AM - 7 PM MST<br /> Fri 6 AM - 5 PM MST</strong></div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="alert alert-warning">
			For information on whether your former students' federal loans have been transferred to CornerStone, please look on the <a rel="external" href="https://nsldsFAP.ed.gov/" target="_blank" title="National Student Loan Data System">National Student Loan Data System</a> website.
		</div>
	</div>
</div>

<p>
	In addition to our School Borrower Portfolio report, CornerStone has a number of
	publications you can download for use in your default prevention efforts.
</p>
<p>
	One of the most important things for student borrowers to understand is their repayment
	options. We have created easy-to-understand repayment option handouts to help you
	explain the options to your students.
</p>

<h2>Repayment Plan Flyers</h2>
<ul>
	<li><a href="@Url.Content("~/forms/Publications/StandardPlan_Brochure.pdf")" target="_blank" title="Standard Repayment">Standard Repayment</a></li>
	<li><a href="@Url.Content("~/forms/Publications/GradPlan_Brochure.pdf")" target="_blank" title="Graduated Repayment">Graduated Repayment</a></li>
	<li><a href="@Url.Content("~/forms/Publications/ExtendPlan_Brochure.pdf")" target="_blank" title="Extended Repayment">Extended Repayment</a></li>
	<li><a href="@Url.Content("~/forms/Publications/ICRPlan_Brochure.pdf")" target="_blank" title="Income-Contingent Repayment">Income-Contingent Repayment</a></li>
	<li><a href="@Url.Content("~/forms/Publications/IBRPlan_Brochure.pdf")" target="_blank" title="Income-Based Repayment">Income-Based Repayment</a></li>
	<li><a href="@Url.Content("~/forms/Publications/PAYEPlan_Brochure.pdf")" target="_blank" title="Pay As You Earn">Pay As You Earn</a></li>
    <li><a href="@Url.Content("~/forms/Publications/REPAYEPlan_Brochure.pdf")" target="_blank" title="Revised Pay As You Earn">Revised Pay As You Earn</a></li>
</ul>
