<div class="sitemap">
    <div class="row">
	    <div class="col-sm-4">
		    <h2>Account Access</h2>
		    <ul>
			    <li><a href="@MyCornerstoneLoan.UrlHelpers.AccountAccessUrl">Account Access</a></li>
		    </ul>
		    <div>
			    <h2>About Us</h2>
			    <ul>
				    <li><a href="@Url.Content("~/AboutUs")">About Us</a></li>
			    </ul>
		    </div>
	    </div>
	    <div class="col-sm-4">
		    <h2>Financial Literacy</h2>
		    <ul>
			    <li><a href="http://mycornerstone.practicalmoneyskills.com/personalfinance/savingspending/budgeting/" rel="external">Budget</a></li>
			    <li><a href="@Url.Content("~/Calculators")">Calculators</a></li>
			    <li><a href="http://mycornerstone.practicalmoneyskills.com/personalfinance/creditdebt/" rel="external">Credit</a></li>
			    <li><a href="http://www.mycornerstone.practicalmoneyskills.com/personalfinance/lifeevents/college/" rel="external">Education</a></li>
			    <li><a href="http://mycornerstone.practicalmoneyskills.com/personalfinance/" rel="external">Financial Literacy</a></li>
			    <li><a href="http://mycornerstone.practicalmoneyskills.com/games/" rel="external">Games</a></li>
		    </ul>
	    </div>
	    <div class="col-sm-4">
		    <h2>Forms</h2>
		    <ul>
			    <li><a href="@Url.Content("~/Home/Forms")#AccountForms">Account Forms</a></li>
                <li><a href="@Url.Content("~/Home/Forms")#ConsolidationForms">Consolidation Forms</a></li>
			    <li><a href="@Url.Content("~/Home/Forms")#DefermentForms">Deferment Forms</a></li>
			    <li><a href="@Url.Content("~/Home/Forms")#ForbearanceForms">Forbearance Forms</a></li>
			    <li><a href="@Url.Content("~/Home/Forms")#ForgivenessandDischargeForms">Forgiveness and Discharge Forms</a></li>
			    <li><a href="@Url.Content("~/Home/Forms")#PaymentForms">Payment Forms</a></li>
		    </ul>
	    </div>
    </div>
    <div class="row">
	    <div class="col-sm-4">
		    <h2>Schools</h2>
		    <ul>
			    <li><a href="@Url.Content("~/Schools/DelinquencyManagement")">Default Prevention</a></li>
			    <li><a href="@Url.Content("~/Schools/Plan")">Plan</a></li>
			    <li><a href="@Url.Content("~/Schools/Communicate")">Communicate</a></li>
			    <li><a href="@Url.Content("~/Schools/Track")">Track Results</a></li>
			    <li><a href="@Url.Content("~/Schools/Publications")">School Resources</a></li>
			    <li><a rel="external" target="_blank" href="https://nsldsFAP.ed.gov">NSLDS</a></li>
		    </ul>
	    </div>
	    <div class="col-sm-4">
		    <h2>Borrowers</h2>
		    <ul>
			    <li><a href="@Url.Content("~/Payments/AutoPay")">Automatic Payments</a></li>
			    <li><a href="@Url.Content("~/Payments/Bills")">Billing</a></li>
			    <li><a href="@Url.Content("~/Payments/Payoff")">Loan Payoff</a></li>
			    <li><a href="@Url.Content("~/Payments")">Payments</a></li>
			    <li><a href="@Url.Content("~/Payments/RepaymentPlans")">Repayment Plans</a></li>
                <li><a href="@Url.Content("~/Payments/PayAsYouEarn")">Pay As You Earn</a></li>
                <li><a href="@Url.Content("~/Payments/HowArePaymentsApplied")">How Are Payments Applied?</a></li>
			    <li><a href="@Url.Content("~/Account/BorrowerBenefits")">Borrower Benefits</a></li>
			    <li><a href="@Url.Content("~/Account/Delinquency")">Delinquency &amp; Default</a></li>
			    <li><a href="@Url.Content("~/Account/DueDate")">Due Date Changes</a></li>
			    <li><a href="@Url.Content("~/Account/IDRInfo")">Income-Driven Repayment</a></li>
			    <li><a href="@Url.Content("~/Account/LoanVerification")">Loan Verification</a></li>
			    <li><a href="@Url.Content("~/Account/Consolidation")">Consolidation</a></li>
			    <li><a href="@Url.Content("~/Account/PostponePayments")">Postpone Payments</a></li>
			    <li><a href="@Url.Content("~/Account/ThirdPartyAuth")">Third Party Authorization</a></li>
                <li><a href="@Url.Content("~/Account/AlternativeFormat")">Alternative Format</a></li>
                <li><a href="@Url.Content("~/Account/LoanStatement")">Loan Statement</a></li>
                <li><a href="@Url.Content("~/Repaye")">REPAYE FAQ</a></li>
		    </ul>
	    </div>
	    <div class="col-sm-4">
		    <h2>Armed Forces Members</h2>
		    <ul>
			    <li><a href="@Url.Content("~/ServiceMembers/Benefits")">Benefits</a></li>
			    <li><a href="@Url.Content("~/ServiceMembers/Deferment")">Military Deferment</a></li>
			    <li><a href="@Url.Content("~/ServiceMembers/PostDeferment")">Post-Active Duty Deferment</a></li>
			    <li><a href="@Url.Content("~/ServiceMembers/Resources")">Resources</a></li>
			    <li><a href="@Url.Content("~/ServiceMembers/SCRA")">Servicemembers Civil Relief Act (SCRA)</a></li>
			    <li><a href="@Url.Content("~/ServiceMembers/Tips")">Tips</a></li>
		    </ul>
	    </div>
    </div>
</div>