<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CSHRCPTFED</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Scripts", false)
</head>
<body>
    <header>
        <a href="@Url.Action("Index")">
            <h1>
                Process Cash Receipt
            </h1>
            <img src="@Url.Content("~/Images/header_logo.png")" />
        </a>
    </header>

    @if (!string.IsNullOrEmpty(ViewBag.Error) || !string.IsNullOrEmpty(ViewBag.Info))
    {
    <div id="messages">
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="message-error">@ViewBag.Error</div>
        }
        @if (!string.IsNullOrEmpty(ViewBag.Info))
        {
            <div class="message-info">@ViewBag.Info</div>
        }
    </div>
        ViewBag.Error = "";
        ViewBag.Info = "";
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><span class="letter-id">&copy; @DateTime.Now.Year - CSHRCPTFED</span></p>
        </footer>
    </div>
</body>
</html>
